<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Playlists - KLH Peer Learning</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header><h1>Playlists</h1></header>
    <main>
      <% if (user) { %>
        <p><a href="/playlists/new">Create new playlist</a></p>
      <% } %>
      <% playlists.forEach(p => { %>
        <div class="playlist">
          <h3><a href="/playlists/<%= p.id %>"><%= p.name %></a></h3>
          <p><%= p.description %></p>
        </div>
      <% }) %>
    </main>
  </body>
</html>
